@charset "utf-8";
#hardlitchi {
  background: linear-gradient(225deg, violet, purple, blueviolet);
  height: 20em;
  margin: 1em;
}
#hardlitchi .icon {
  height: 18em;
}
#hardlitchi a {
  color: #a9a9a9;
}
#hardlitchi a:hover {
  color: #a9a9a9;
}
#hardlitchi h1 {
  font-family: "Kokoro", cursive;
  font-size: 5em;
  float: left;
}
#hardlitchi h1 small {
  font-size: 0.4em;
  text-align: center;
}
